name: CI/CD

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  # Run daily at 0:01 UTC
  schedule:
    - cron:  '1 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
    - uses: pre-commit/action@v3.0.0
      with:
        extra_args: --hook-stage manual --all-files

  test:
    runs-on: ${{ matrix.os }}
    needs: pre-commit
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    name: test egamma-tnp (${{ matrix.os }}) - python ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set python test settings
      run: |
        echo "INSTALL_EXTRAS='[dev]'" >> $GITHUB_ENV

    - name: Install dependencies (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install -q -e '.[dev]'
        python -m pip list
    - name: Install dependencies (MacOS)
      if: matrix.os == 'macOS-latest'
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install -q -e '.[dev]'
        python -m pip list
    # - name: Install dependencies (Windows)
    #   if: matrix.os == 'windows-latest'
    #   run: |
    #     python -m pip install --upgrade pip setuptools wheel
    #     python -m pip install -q -e '.[dev]'
    #     python -m pip list

    - name: Test with pytest
      run: |
        pytest tests

  pass:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - run: echo "All jobs passed"
